.signUp__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  float: left;
}

.signIn__btn,
.signUp__btn {
  background-color: blue;
  color: white;
  border: 1px solid blue;
  border-radius: 5px;
}

.backToSingIn {
  color: blue;
  cursor: pointer;
}

.backToSingIn:hover {
  color: red;
}