body {
  margin: 0;
}

.main__header {
  display: flex;
  justify-content: center;
}

.left__panel {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  position: fixed;
  top: 0;
  width: 200px;
  height: 400px;
  background-color: green;
  color: white;
}

.posts {
  display: flex;
  flex-direction: column;
}

.name {
  text-align: center;
  margin: 20px auto 50px;
}

.all__posts,
.my__posts,
.add__post,
.logOut {
  text-align: center;
  margin: 20px auto;
}

.logOut {
  color: white;
}