body {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin: 0;
}

.main__header {
  display: flex;
  justify-content: center;
}

.left__panel {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  position: fixed;
  width: 200px;
  height: 900px;
  background-color: green;
  color: white;
}

.posts {
  display: flex;
  flex-direction: column;
}

.logOut {
  color: white;
}